# Python basis

In [1]:
# input number 37,000,037
37_000_037

37000037

In [2]:
# Check types of objects
type(-37)

int

In [3]:
# dot '.' make an integer into float number
print(-37.)
type(-37.)

-37.0

float

In [4]:
print(-0.1e-3)

-0.0001

In [5]:
# divide
10/7

1.4285714285714286

In [6]:
# get the integer part of dividing
10//7

1

In [7]:
# get the reminder of dividing
10%7

3

In [8]:
type("Data Science")

str

In [9]:
"Statistics" + " " + 'and' + " " + "Data Science"
# in R, it is paste0("Statistics", " ",'and'," " , "Data Science")

'Statistics and Data Science'

In [10]:
"Data!" * 3

'Data!Data!Data!'

In [11]:
x =1; y = 2; z = 5
print(x, y, z)
# in R, print() function can only print one variable each

1 2 5

In [12]:
x, y, z = 1, "b", 3*7
print(f"b = {x}, y = {y}, z = {z}")
# in R, it is sprintf()

b = 1, y = b, z = 21

In [13]:
print(x > 7 and x < 9)
print(x > 7 or x < 9)
print(not(x == 8))
print(x != 8)

False
True
True
True

# List: simple, nested, empty

In [14]:
dailyKCal = [ 2330, 1990, 2150, 2290, 1920, 2370, 2050 ]
dailyKCal

[2330, 1990, 2150, 2290, 1920, 2370, 2050]

In [15]:
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [16]:
combines = [123, "Mon"]
combines

[123, 'Mon']

In [17]:
goodMoods = [ True, True, False, True, True, False, True ]
goodMoods

[True, True, False, True, True, False, True]

In [18]:
print(type(dailyKCal))
print(type(days))
print(type(goodMoods))

<class 'list'>
<class 'list'>
<class 'list'>

In [19]:
dataDay1 = [ 2330, "Mon", True ]
dataDay1

[2330, 'Mon', True]

In [20]:
dataByDays = [ [ 2330, "Mon", True ], [ 1990, "Tue", True ], [ 2150, "Wed", False ] ]
dataByDays

[[2330, 'Mon', True], [1990, 'Tue', True], [2150, 'Wed', False]]

In [21]:
dataByVars = [ dailyKCal, days, goodMoods ]
dataByVars

[[2330, 1990, 2150, 2290, 1920, 2370, 2050],
 ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
 [True, True, False, True, True, False, True]]

In [22]:
# a list can also be empty, e.g.,
[]

[]

# Tuples
Tuples are immutable - once a tuple is created, it is not possible to change the number

In [23]:
dailyKCal = ( 2330, 1990, 2150, 2290, 1920, 2370, 2050 )
dailyKCal

(2330, 1990, 2150, 2290, 1920, 2370, 2050)

In [24]:
type( dailyKCal )

tuple

In [25]:
singleDayTuple = ( "Mon", )
print(singleDayTuple)
type( singleDayTuple )

('Mon',)

tuple

In [26]:
# "()" is also a special notion in arithmetics
print(type((1)))
print(type((1,)))

<class 'int'>
<class 'tuple'>

In [27]:
# an empty tuple
()

()

In [28]:
x, y, z = ("a", True, 0)
print(x, y, z)

a True 0

# Concatentation are repetition

In [29]:
americano = [ "espresso", "hot water" ]
caffe_latte = [ "espresso", "steamed milk" ]
latte_macchiato = [ "steamed milk", "espresso" ]
apple_pie_set = [ "apple pie", "whipped cream" ]
order_steps = 2 * americano + caffe_latte + 3 * apple_pie_set + latte_macchiato
order_steps

['espresso',
 'hot water',
 'espresso',
 'hot water',
 'espresso',
 'steamed milk',
 'apple pie',
 'whipped cream',
 'apple pie',
 'whipped cream',
 'apple pie',
 'whipped cream',
 'steamed milk',
 'espresso']

In [30]:
# concatentaion and repeatition also work for tuples. Concatenating a tuple with a list leads to an error
(1, "Data") * 2 + (2, 4, 5)

(1, 'Data', 1, 'Data', 2, 4, 5)

In [31]:
print([2])
(1, ) + [2]

[2]

TypeError: can only concatenate tuple (not "list") to tuple

# Access/change of a single element

In [ ]:
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [ ]:
days[0]

'Mon'

In [ ]:
len(days)

7

In [ ]:
print(days[0])
print(days[len(days)-1])
print(days[-1])
#Usage of an index beyond the range of elements present in a list/tuple raises an error exception:
print(days[7])

MONDAY
Sun
Sun

IndexError: list index out of range

In [ ]:
# In lists the elements can be modified
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[0] = "MONDAY"       # works fine, days is a list
days

['MONDAY', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [ ]:
# But the tuples are immutable - the following code raises an error exception
days = ( "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" )
days[0] = "MONDAY"     # TypeError: 'tuple' object does not support item ass

TypeError: 'tuple' object does not support item assignment

# Access/change of multiple elements
The slice operator [n:m] applied to a list/tuple gets its elements from the poisition n...m-1 and creates a new list/tuple containing only them

In [ ]:
# ----- the following few code cells work both for lists and tuples -----
# days = ( "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" )
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[2:5]                # note: Elements with indexes 2,3 and 4 (but not 5).
                         #       "Mon" has index 0.

['Wed', 'Thu', 'Fri']

[:m] denotes indexs from the begining (0) till m-1

In [ ]:
workingDays = days[:5]
workingDays

['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

Similarly, [n:] denotes indexes from n till the last

In [ ]:
weekendDays = days[5:]
copiedDays = days[:]
print(weekendDays)
print(copiedDays)

['Sat', 'Sun']
['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

Slicing [n:m:step] can taken an extra step argument

In [ ]:
print(days)
print(days[1:6:2])
list(range(1, 6, 2))

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
['Tue', 'Thu', 'Sat']

[1, 3, 5]

In [ ]:
# the step argument can be negative
days[6:1:-2]

['Sun', 'Fri', 'Wed']

In [ ]:
# In lists, several elements can be modified as follows
# -----modification here, so it can't be a tuple -----
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[2:3] = ["TUESDAY", "WEDNESDAY"]
days

['Mon', 'Tue', 'TUESDAY', 'WEDNESDAY', 'Thu', 'Fri', 'Sat', 'Sun']

In [ ]:
# Note, that elements can be not only modified but also added/removed (i.e., the total length of the list changes)
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[2:3] = [ "TUESDAY", "moon-eclipse-night!!!", "WEDNESDAY" ]
days

['Mon',
 'Tue',
 'TUESDAY',
 'moon-eclipse-night!!!',
 'WEDNESDAY',
 'Thu',
 'Fri',
 'Sat',
 'Sun']

# Shallow and deeper copying

In [ ]:
v = [1, 2, 3] # [] allocates a new list
              # 1, 2, 3 fills the list with 1, 2, 3
              # v = makes v point to the list
w = v         # w = v, makes v point to the same thing as v
v[0] = 100    # changes the element of the list
v

[100, 2, 3]

In [ ]:
# Because both v and w point to the same list, w has been also changed
w

[100, 2, 3]

When the above behaviour is not desired, a deep copy() needs to be enforced
.copy() is a method. A menthod is an operation for specific class

In [ ]:
v = [1, 2, 3]
w = v.copy() # a new list is allocated
           # the elements of v are appended to the new list

v[0] = 100
v

[100, 2, 3]

In [ ]:
# Now, the change of v has not affected w
w

[1, 2, 3]

# List comprehensions

In [ ]:
someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[x**2 for x in someNums]              # a list comprehension

[1, 4, 9, 16, 25]

In [ ]:
someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[(x,x**2) for x in someNums]          # each element is a tuple

[(1, 1), (-2, 4), (3, 9), (-4, 16), (5, 25)]

In [ ]:
someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[x for x in someNums if x<0]          # only negative elements are proc

[-2, -4]

# self-study tasks
## Understand errors
Try the following cells to get familiar with error messages
Explain the errors

In [ ]:
nums = (1, 2, 3)
nums[1]
nums[1] = 22

TypeError: 'tuple' object does not support item assignment

In [ ]:
nums = [ 1, 2, 3 ]
nums[3] 
nums[3] = 4

IndexError: list index out of range

In [ ]:
txt = "Statistics"
print(txt)
print(list("Statistics"))
txt[0] = "s"

Statistics
['S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's']

TypeError: 'str' object does not support item assignment

# Understand difference
Why a differes from b

In [ ]:
v = [ 1, 2, 3 ]
a = v
v = [ 4, 5, 6 ] # generate a new variable, with convered orginal v
a

[1, 2, 3]

In [ ]:
v = [ 1, 2, 3 ]
b = v
v[:] = [ 4, 5, 6 ] # replace the old variable v with [4, 5, 6]
b

[4, 5, 6]

# Changing (or not) lists
Let's assume that a vector v with several random number is given (cn example below)

Check Python list manuals to find programmatical ways in place marked with ... to produce the various goals requested below

In [32]:
v = [5, 2, 1, 4, 3]
sorted(v)

[1, 2, 3, 4, 5]

In [35]:
v = [5, 2, 1, 4, 3]
sorted(v, reverse = True)

[5, 4, 3, 2, 1]

In [74]:
v = [5, 2, 1, 4, 3]
w = v
v = sorted(v)
print(v); print("===\n"); print(w)

[1, 2, 3, 4, 5]
===

[5, 2, 1, 4, 3]

In [42]:
v = [5, 2, 1, 4, 3]
list(reversed(v))

[3, 4, 1, 2, 5]

In [43]:
v = [5, 2, 1, 4, 3]
w = v
v = list(reversed(v))
print(f"v = {v}, w = {w}")

v = [3, 4, 1, 2, 5], w = [5, 2, 1, 4, 3]

In [78]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.pop(2)
v

['eeeee', 'bb', 'dddd', 'ccc', 'bb']

In [85]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.remove("bb")
print(v)

vstrings = [strings for strings in v if strings != "bb"]
vstrings

['eeeee', 'a', 'dddd', 'ccc', 'bb']

['eeeee', 'a', 'dddd', 'ccc']

In [86]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.insert(2, "F")
v

['eeeee', 'bb', 'F', 'a', 'dddd', 'ccc', 'bb']

In [90]:

v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]

TypeError: 'str' object cannot be interpreted as an integer

In [91]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
v.append("F")
v

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'F']

In [93]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
v.extend(w)
v

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'ffffff', 'g', 'ffffff']

# Checking memerbship

In [111]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "bbbab"
bool(v.count(w))
w in v

True

# Understand conversions

In [96]:
lst = [1,2,3,"x","y","z"]
tuple( lst )

(1, 2, 3, 'x', 'y', 'z')

In [97]:
tpl = (1,2,3,"x","y","z")
list( tpl )

[1, 2, 3, 'x', 'y', 'z']

In [98]:
tuple( "Statistics" )

('S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's')

In [101]:

list('Data Science')

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

# Practice comprehensions and try a generator

In [105]:
xs = [ 0, 1, 2, 3, 4, 5 ]
ys = [x**2 + x + 1 for x in xs]
ys

[1, 3, 7, 13, 21, 31]

In [106]:
xs = range(0, 5, 1)
ys = [x**2 + x + 1 for x in xs]
ys

[1, 3, 7, 13, 21]

In [107]:

toRemove = "bb"
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [vi for vi in v if vi != toRemove]
w

['eeeee', 'a', 'dddd', 'ccc']

In [108]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "aaaqb", "abbaa", "ababab" ]

all([bool(v.count(wi)) for wi in w])

True

In [110]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "abaaa", "bbbab", "qbbbq" ]
all([ wi not in v for wi in w])

False

# Comprehnsions with tuple elements
 zip(...) can be used to build tuples out of elements of two iterables. Tuples of elements at the same positions can be iterated over. It also works for more than two lists

In [115]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
weights = [ 57, 58, 62, 84, 64, 74, 57, 44 ]          # same 8 persons, same order
zip( heights, weights )                # this is a generator of ( height, weight ) tuples
list( zip( heights, weights ) )  
BMI = [weight/(height/100)**2 for height, weight in zip(heights, weights)]
BMI

[19.045073340238563,
 18.101807059704754,
 22.230987127541326,
 22.090729783037478,
 21.383941996057334,
 21.85727788279773,
 21.719250114311837,
 15.405623052414134]

In [116]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
enumerate( heights )                   # this is a generator of ( index, element ) tuple pairs
tuple( enumerate( heights ) )

((0, 173),
 (1, 179),
 (2, 167),
 (3, 195),
 (4, 173),
 (5, 184),
 (6, 162),
 (7, 169))

In [117]:
nestedList = [ "a", [ "ba", [ "bba", "bbb" ], "bc", [ "bda", "bdb" ], "be" ], "c", [ [ "daa", "dab" ] ] ]
nestedList

['a',
 ['ba', ['bba', 'bbb'], 'bc', ['bda', 'bdb'], 'be'],
 'c',
 [['daa', 'dab']]]

In [118]:
nestedList[2]
nestedList[1:2]
nestedList[1][1]
nestedList[3][0][1]
nestedList[2][0]
nestedList[3][0][0][2]
nestedList[3][0][0][2::-1]

'aad'