# Python sets and dictionaries

## Lists/tuples (key points of the previous lesson)

In [7]:
list("English")

['E', 'n', 'g', 'l', 'i', 's', 'h']

In [8]:

digit2name = ( 'zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine' )
print( "     digit2name:", digit2name )

digits = [ 5, 2, 6, 2, 0, 9, 2, 1, 9 ]                     # some random numbers
print( "         digits:", digits )

digitsNames = [ digit2name[d] for d in digits ]
print( "    digitsNames:", digitsNames )

smallDigits = [ d for d in digits if d <= 3 ]
print( "    smallDigits:", smallDigits )
digitsWithNames = [ (d, digit2name[d] ) for d in digits ]  # tuples are produced here
print( "digitsWithNames:", digitsWithNames )

     digit2name: ('zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine')
         digits: [5, 2, 6, 2, 0, 9, 2, 1, 9]
    digitsNames: ['five', 'two', 'six', 'two', 'zero', 'nine', 'two', 'one', 'nine']
    smallDigits: [2, 2, 0, 2, 1]
digitsWithNames: [(5, 'five'), (2, 'two'), (6, 'six'), (2, 'two'), (0, 'zero'), (9, 'nine'), (2, 'two'), (1, 'one'), (9, 'nine')]

## Set
Set is a built-in data type with the following properties:

an element is either in the set of not in the set.

elements can be added to a set or remove from it

an element added to a set cannot ever change, therefore only elements of immutable types are allowed

fronzenset is an imuutable variant of a set - once created it cannot be changed but therefore a forzonset can be used as an element of a set

In [9]:
# A new set
# two ways to create a set: {...} and set([...])
# See https://www.recipesfromitaly.com/tiramisu-original-italian-recipe/
# A *set* with ingredients needed for tiramisu:
tiramisuIngredients = { "ladyfingers", "mascarpone", "eggs", "sugar", "espresso"}
print(tiramisuIngredients)

inHouseIngredients = set( [ "eggs", "espresso", "cocoa", "butter", "strawberries" ] )
print(inHouseIngredients) 
# order information of the list is losted in set 
# even though it might happen to show the same order in the set, which is unreliable. 

print(set("egg"))
print(set(["egg"]))

{'espresso', 'mascarpone', 'eggs', 'ladyfingers', 'sugar'}
{'espresso', 'butter', 'strawberries', 'cocoa', 'eggs'}
{'g', 'e'}
{'egg'}

In [10]:
len(inHouseIngredients)

5

In [11]:
type(inHouseIngredients)

set

In [12]:
# generate an empty set via set() but not {}
print(type({}))
print(type(set()))

<class 'dict'>
<class 'set'>

# Set algebra

## Sets: is element in or not

In [13]:
"milk" in tiramisuIngredients

False

In [14]:
"milk" not in tiramisuIngredients

True

In [15]:
# A True/False map whether an in-house-ingredient is not needed for tiramisu
print([ing for ing in inHouseIngredients])
[(ing, ing not in tiramisuIngredients) for ing in inHouseIngredients]

['espresso', 'butter', 'strawberries', 'cocoa', 'eggs']

[('espresso', False),
 ('butter', True),
 ('strawberries', True),
 ('cocoa', True),
 ('eggs', False)]

Note: the set methods issubset(...) and issuperset(...) allow to test whether all elements of one set are also present in the other set.The same functions are provided though <=, => operators. The == allows to check whether two sets have identical elements.

In [16]:
tiramisuIngredients.issubset(inHouseIngredients)

False

# Sets: adding/removing elements

In [17]:
print(inHouseIngredients)
# for a single elment:
inHouseIngredients.add("bread")
print(inHouseIngredients)

# for an iterable collection of elements ( it can also be another set)
inHouseIngredients.update(["salmi", "tomato"])
print(inHouseIngredients)

print(inHouseIngredients.update({"food"}))

{'espresso', 'butter', 'strawberries', 'cocoa', 'eggs'}
{'espresso', 'butter', 'strawberries', 'bread', 'cocoa', 'eggs'}
{'espresso', 'butter', 'salmi', 'strawberries', 'tomato', 'bread', 'cocoa', 'eggs'}
None

In [18]:
# For an element currently in the set
inHouseIngredients.remove("bread")
print(inHouseIngredients)

# Note: KeyError exception would be raised because "BREAD" is not in the set:
# inHouseIngredients.remove( "BREAD" ) 

# For value which might be in the set but no error when the value is not there
inHouseIngredients.discard("BREAD")
print(inHouseIngredients)

{'espresso', 'butter', 'salmi', 'strawberries', 'tomato', 'food', 'cocoa', 'eggs'}
{'espresso', 'butter', 'salmi', 'strawberries', 'tomato', 'food', 'cocoa', 'eggs'}

# Sets: a loop over all elements

In [19]:
for ing in tiramisuIngredients:
    print("Needed for tiramisu:", ing)
    print(f"Needed for tiramisu: {ing}")
print("***")

Needed for tiramisu: espresso
Needed for tiramisu: espresso
Needed for tiramisu: mascarpone
Needed for tiramisu: mascarpone
Needed for tiramisu: eggs
Needed for tiramisu: eggs
Needed for tiramisu: ladyfingers
Needed for tiramisu: ladyfingers
Needed for tiramisu: sugar
Needed for tiramisu: sugar
***

# Dictionaries
Dict is a built-in data type with the follwing properties:

1. (key, value), key cannot be replicated; it is possible whether a key is in or not in a dict object

2. the keys must be immutable type but the values corresponding to a key can be modified.

3. new items can be added, existing items can be removed

4. for loops can iterate over all items of a dictionary, or over the keys, or over values.

5. the order of a dictionary is not trustworthy

In [20]:
# A new dictionary
day2KCal = {"Mon": 2330, "Tue":1990, "Wed": 2150}
print(day2KCal)
print(day2KCal.keys())
print(day2KCal["Mon"])

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150}
dict_keys(['Mon', 'Tue', 'Wed'])
2330

In [21]:
type(day2KCal)

dict

In [22]:
{  "Mon": 2330, "Tue": 1990, "Wed": 2150, "Mon": 1000 }

{'Mon': 1000, 'Tue': 1990, 'Wed': 2150}

In [23]:
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")     # a tuple, having an valid order
dayKCals = [ 2330, 1990, 2150, 2290, 1920, 2370, 2050 ]         # a list, having an valid order
zip( days, dayKCals )           # a generator, iterable over tuples (day, dayKCal)
list( zip( days, dayKCals ) )   # a list of tuples generated by the generator

day2KCal = dict( zip( days, dayKCals ) )
print(day2KCal)
print(len(day2KCal))

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150, 'Thu': 2290, 'Fri': 1920, 'Sat': 2370, 'Sun': 2050}
7

# Dict: getting, adding or modifying elements

In [27]:
day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150 }
print(day2KCal)

# to add a new value or change a value for a single key
day2KCal["Thu"] = 2290
day2KCal

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150}

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150, 'Thu': 2290}

In [28]:
# Multiple items can be added/updated by calling update(), for an iterable over (key, value) items
day2KCal.update([("Fri", 1920), ("Sat", 2370)])
day2KCal

{'Mon': 2330, 'Tue': 1990, 'Wed': 2150, 'Thu': 2290, 'Fri': 1920, 'Sat': 2370}

In [30]:
# to obatin the value for a provided key
print(day2KCal["Mon"])
day2KCal["Monday"]

2330

KeyError: 'Monday'

In [31]:
# The get(key, defaultValue) function may be used to avoid exceptins when the key is missing in the dictionary.
# Then the defaultValue is returned

day2KCal.get("Monday", 100)

100

In [32]:
"Tuesday" in dayKCals

False

In [33]:
aKey = "Tuesday"
aKey not in day2KCal

True

# Dict: removing an element

In [39]:
# A few possiblities exists to remove an element
day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150}
print(day2KCal.pop("Tue")) # removes Tue but returns the value which Tue had
                    # raises exception if the key is not found
day2KCal.pop("Monday", None) # remove only when the is present; return the second argument
                             # does not raise exception if the key not found

1990

In [41]:
del day2KCal["Mon"] # also remove an existing element
                    # raises exception if the key is not found

KeyError: 'Mon'

# Dict: all keys, all values or their pairs

In [42]:
# with values() it is possible to iterate over all values in a dictionary:
day2KCal = {"Mon": 2330, "Tue": 1990, "Wed": 2150}
day2KCal.values()

dict_values([2330, 1990, 2150])

In [43]:
kJoules = [kCal * 4.184 for kCal in day2KCal.values()]
kJoules

[9748.720000000001, 8326.16, 8995.6]

In [46]:
print(day2KCal.items())
day2KJoule = {day:kCal*4.184 for day, kCal in day2KCal.items()}
day2KJoule

dict_items([('Mon', 2330), ('Tue', 1990), ('Wed', 2150)])

{'Mon': 9748.720000000001, 'Tue': 8326.16, 'Wed': 8995.6}

In [48]:
print(day2KCal.keys())
days = tuple(day2KCal.keys())
days

dict_keys(['Mon', 'Tue', 'Wed'])

('Mon', 'Tue', 'Wed')

# Dict: a loop over elements
items(), values(), keys() can also be used in loops

In [51]:
day2KCal = { "Mon": 2330, "Tue": 1990, "Wed": 2150 }
for day, kCal in day2KCal.items():
    print("On", day, "consumed food was", kCal, "kCal or", kCal*4.184, "kJ.")

On Mon consumed food was 2330 kCal or 9748.720000000001 kJ.
On Tue consumed food was 1990 kCal or 8326.16 kJ.
On Wed consumed food was 2150 kCal or 8995.6 kJ.

# Formatting strings

In [52]:
day2KCal = {"Mon": 2330, "Tue":1990, "Wed":2150}
for day, kCal in day2KCal.items():
    print(f"On {day} consumed food was {kCal} or {kCal * 4.184} kJ.")

On Mon consumed food was 2330 or 9748.720000000001 kJ.
On Tue consumed food was 1990 or 8326.16 kJ.
On Wed consumed food was 2150 or 8995.6 kJ.

In [53]:
x = "Statistics"
y = "Data Science"
f"{x} and {y}"

'Statistics and Data Science'

In [54]:
f"{x}" " and " f'{y}'            # Note, there are several strings here
                                 # and they get concatenated

'Statistics and Data Science'

In [55]:
( f"{x}"
" and "
f"{y}" )

'Statistics and Data Science'

In [56]:
from math import pi
{ 
    "               full precision":  f"{pi}",
    "                  four digits":  f"{pi:.4f}",
    "four digits and forced + sign":  f"{pi:+.4f}",
    "                right aligned":  f"{pi:12.4f}",
    "               center aligned":  f"{pi:^12.4f}",
    "                 left aligned":  f"{pi:<12.4f}",
    "            exponent notation":  f"{pi * 1000:.4e}",
    "        with comma separators":  f"{pi * 1e6:,.2f}",     # Note: the comma here is ok
}

{'               full precision': '3.141592653589793',
 '                  four digits': '3.1416',
 'four digits and forced + sign': '+3.1416',
 '                right aligned': '      3.1416',
 '               center aligned': '   3.1416   ',
 '                 left aligned': '3.1416      ',
 '            exponent notation': '3.1416e+03',
 '        with comma separators': '3,141,592.65'}

In [66]:
# Self-study tasks
## Generating random integers
from random import randint
vs = [randint(0, 10) for i in range(0, 20)]
print(len(vs))
set(vs)

20

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10}

In [73]:
# Counting elements
v2nct = {}
for num in set(vs):
    if num not in v2nct.keys():
        v2nct[num] = 1
    else:
         v2nct[num] += 1
print(v2nct)

{0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1}

In [74]:
print(vs.count)

<built-in method count of list object at 0x000002111C80BC40>

# Removing from a dictionary all itmes of given values

In [76]:
licPlate2color = {
    "VA-111-V": "silver", "SB-222-W": "red", "XC-333-L": "red",
    "AB-111-E": "white", "ER-222-U": "black", "BV-333-Z": "white",
    "CC-111-J": "silver", "UI-222-R": "green", "GF-333-U": "silver",
    "WT-111-K": "white", "KJ-222-Q": "silver", "LK-333-I": "black",
}
toRemoveColors = [ "white", "silver", "black" ]

toRemoveKeys = []
for key, value in licPlate2color.items():
    if value in toRemoveColors:
        toRemoveKeys.append(key)
    else: continue
print(toRemoveKeys)

for key in toRemoveKeys:
    licPlate2color.pop(key, None)
print(licPlate2color)

['VA-111-V', 'AB-111-E', 'ER-222-U', 'BV-333-Z', 'CC-111-J', 'GF-333-U', 'WT-111-K', 'KJ-222-Q', 'LK-333-I']
{'SB-222-W': 'red', 'XC-333-L': 'red', 'UI-222-R': 'green'}

# Build a dictionary with values being lists

In [4]:
names =     ["Grzegorz", "Małgorzata", "Paweł", "Jeroen", "Sanne", "Ana", "Sofia", "Javier", "Sofia"]
countries = ["pl",       "pl",         "pl",    "nl",     "nl",    "es",  "es",    "es",     "es"]

from collections import defaultdict
zippedList = list(zip(countries, names))
#print(zippedList)

country2names = {}
for (country, name) in zippedList:
    if country not in country2names.keys():
        country2names[country] = [name]
    else: 
        country2names[country].append(name)
print(country2names)

country2names = defaultdict(list) # generate an dict with its values beng an empty list; not necessary to check the exitence of keys every time
for (country, name) in zippedList:
     country2names[country].append(name)
print(country2names)

{'pl': ['Grzegorz', 'Małgorzata', 'Paweł'], 'nl': ['Jeroen', 'Sanne'], 'es': ['Ana', 'Sofia', 'Javier', 'Sofia']}
defaultdict(<class 'list'>, {'pl': ['Grzegorz', 'Małgorzata', 'Paweł'], 'nl': ['Jeroen', 'Sanne'], 'es': ['Ana', 'Sofia', 'Javier', 'Sofia']})

# Reverse a list and sample elements

In [5]:
from random import sample

role2num = { "setter": 1, "dia": 1, "middle": 2, "outside": 2 }

player2role = { 
    "Chen": "setter", "Martijn": "setter",
    "Marnick": "dia", "Simon": "dia",
    "David": "middle", "Luuk": "middle",
    "Ronald": "outside", "Alex": "outside", "Kadir": "outside", "Koen": "outside"
}


role2players = defaultdict(list)
for player, role in player2role.items():
    role2players[role].append(player)
print(role2players)

Team = {role:sample(players, role2num[role]) for role, players in role2players.items()}
Team

defaultdict(<class 'list'>, {'setter': ['Chen', 'Martijn'], 'dia': ['Marnick', 'Simon'], 'middle': ['David', 'Luuk'], 'outside': ['Ronald', 'Alex', 'Kadir', 'Koen']})

{'setter': ['Chen'],
 'dia': ['Marnick'],
 'middle': ['Luuk', 'David'],
 'outside': ['Ronald', 'Kadir']}

# NATO phonoetic alphabet

In [12]:
codeWords = "alpha bravo charlie delta echo foxtrot golf hotel india juliet kilo lima mike november oscar papa quebec romeo sierra tango uniform victor whiskey x-ray yankee zulu"
print(codeWords)
print(len(codeWords.split(" ")))
chars = list("abcdefghijklmnopqrstuvwxyz")
print(chars)
print(len(chars))
char2codeWord = dict(zip(chars, codeWords.split(" ")))
print(char2codeWord)

word = "statistics"
wordchars = list(word)
wordchars

spell = []
for key in wordchars:
    spell.append(char2codeWord[key])
print(spell)

alpha bravo charlie delta echo foxtrot golf hotel india juliet kilo lima mike november oscar papa quebec romeo sierra tango uniform victor whiskey x-ray yankee zulu
26
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
26
{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo', 'f': 'foxtrot', 'g': 'golf', 'h': 'hotel', 'i': 'india', 'j': 'juliet', 'k': 'kilo', 'l': 'lima', 'm': 'mike', 'n': 'november', 'o': 'oscar', 'p': 'papa', 'q': 'quebec', 'r': 'romeo', 's': 'sierra', 't': 'tango', 'u': 'uniform', 'v': 'victor', 'w': 'whiskey', 'x': 'x-ray', 'y': 'yankee', 'z': 'zulu'}
['sierra', 'tango', 'alpha', 'tango', 'india', 'sierra', 'tango', 'india', 'charlie', 'sierra']

# Read wheather data

In [20]:
import urllib.request, json 
url = "https://api.open-meteo.com/v1/forecast?latitude=52.16&longitude=4.49&hourly=temperature_2m"
data = json.load( urllib.request.urlopen(url) )
print(data)          # use this to print the nested list with data
print(data.keys())

{'latitude': 52.16, 'longitude': 4.4999995, 'generationtime_ms': 0.048995018005371094, 'utc_offset_seconds': 0, 'timezone': 'GMT', 'timezone_abbreviation': 'GMT', 'elevation': 7.0, 'hourly_units': {'time': 'iso8601', 'temperature_2m': '°C'}, 'hourly': {'time': ['2024-02-13T00:00', '2024-02-13T01:00', '2024-02-13T02:00', '2024-02-13T03:00', '2024-02-13T04:00', '2024-02-13T05:00', '2024-02-13T06:00', '2024-02-13T07:00', '2024-02-13T08:00', '2024-02-13T09:00', '2024-02-13T10:00', '2024-02-13T11:00', '2024-02-13T12:00', '2024-02-13T13:00', '2024-02-13T14:00', '2024-02-13T15:00', '2024-02-13T16:00', '2024-02-13T17:00', '2024-02-13T18:00', '2024-02-13T19:00', '2024-02-13T20:00', '2024-02-13T21:00', '2024-02-13T22:00', '2024-02-13T23:00', '2024-02-14T00:00', '2024-02-14T01:00', '2024-02-14T02:00', '2024-02-14T03:00', '2024-02-14T04:00', '2024-02-14T05:00', '2024-02-14T06:00', '2024-02-14T07:00', '2024-02-14T08:00', '2024-02-14T09:00', '2024-02-14T10:00', '2024-02-14T11:00', '2024-02-14T12:00', '2024-02-14T13:00', '2024-02-14T14:00', '2024-02-14T15:00', '2024-02-14T16:00', '2024-02-14T17:00', '2024-02-14T18:00', '2024-02-14T19:00', '2024-02-14T20:00', '2024-02-14T21:00', '2024-02-14T22:00', '2024-02-14T23:00', '2024-02-15T00:00', '2024-02-15T01:00', '2024-02-15T02:00', '2024-02-15T03:00', '2024-02-15T04:00', '2024-02-15T05:00', '2024-02-15T06:00', '2024-02-15T07:00', '2024-02-15T08:00', '2024-02-15T09:00', '2024-02-15T10:00', '2024-02-15T11:00', '2024-02-15T12:00', '2024-02-15T13:00', '2024-02-15T14:00', '2024-02-15T15:00', '2024-02-15T16:00', '2024-02-15T17:00', '2024-02-15T18:00', '2024-02-15T19:00', '2024-02-15T20:00', '2024-02-15T21:00', '2024-02-15T22:00', '2024-02-15T23:00', '2024-02-16T00:00', '2024-02-16T01:00', '2024-02-16T02:00', '2024-02-16T03:00', '2024-02-16T04:00', '2024-02-16T05:00', '2024-02-16T06:00', '2024-02-16T07:00', '2024-02-16T08:00', '2024-02-16T09:00', '2024-02-16T10:00', '2024-02-16T11:00', '2024-02-16T12:00', '2024-02-16T13:00', '2024-02-16T14:00', '2024-02-16T15:00', '2024-02-16T16:00', '2024-02-16T17:00', '2024-02-16T18:00', '2024-02-16T19:00', '2024-02-16T20:00', '2024-02-16T21:00', '2024-02-16T22:00', '2024-02-16T23:00', '2024-02-17T00:00', '2024-02-17T01:00', '2024-02-17T02:00', '2024-02-17T03:00', '2024-02-17T04:00', '2024-02-17T05:00', '2024-02-17T06:00', '2024-02-17T07:00', '2024-02-17T08:00', '2024-02-17T09:00', '2024-02-17T10:00', '2024-02-17T11:00', '2024-02-17T12:00', '2024-02-17T13:00', '2024-02-17T14:00', '2024-02-17T15:00', '2024-02-17T16:00', '2024-02-17T17:00', '2024-02-17T18:00', '2024-02-17T19:00', '2024-02-17T20:00', '2024-02-17T21:00', '2024-02-17T22:00', '2024-02-17T23:00', '2024-02-18T00:00', '2024-02-18T01:00', '2024-02-18T02:00', '2024-02-18T03:00', '2024-02-18T04:00', '2024-02-18T05:00', '2024-02-18T06:00', '2024-02-18T07:00', '2024-02-18T08:00', '2024-02-18T09:00', '2024-02-18T10:00', '2024-02-18T11:00', '2024-02-18T12:00', '2024-02-18T13:00', '2024-02-18T14:00', '2024-02-18T15:00', '2024-02-18T16:00', '2024-02-18T17:00', '2024-02-18T18:00', '2024-02-18T19:00', '2024-02-18T20:00', '2024-02-18T21:00', '2024-02-18T22:00', '2024-02-18T23:00', '2024-02-19T00:00', '2024-02-19T01:00', '2024-02-19T02:00', '2024-02-19T03:00', '2024-02-19T04:00', '2024-02-19T05:00', '2024-02-19T06:00', '2024-02-19T07:00', '2024-02-19T08:00', '2024-02-19T09:00', '2024-02-19T10:00', '2024-02-19T11:00', '2024-02-19T12:00', '2024-02-19T13:00', '2024-02-19T14:00', '2024-02-19T15:00', '2024-02-19T16:00', '2024-02-19T17:00', '2024-02-19T18:00', '2024-02-19T19:00', '2024-02-19T20:00', '2024-02-19T21:00', '2024-02-19T22:00', '2024-02-19T23:00'], 'temperature_2m': [4.4, 4.3, 4.5, 4.5, 4.5, 4.4, 4.5, 4.1, 4.0, 5.5, 6.7, 7.9, 9.0, 8.9, 8.8, 9.4, 8.8, 8.2, 7.2, 7.2, 7.4, 7.5, 7.5, 8.0, 8.4, 8.6, 9.0, 9.3, 9.6, 10.0, 10.2, 10.3, 10.3, 10.6, 10.7, 10.7, 10.9, 11.2, 11.2, 11.2, 10.8, 10.5, 10.6, 10.7, 10.7, 10.7, 11.0, 11.1, 11.1, 10.8, 10.8, 11.0, 10.9, 11.1, 11.1, 11.1, 11.2, 11.6, 12.2, 12.9, 14.0, 14.6, 14.9, 15.0, 14.5, 13.6, 13.0, 12.9, 12.6, 12.3, 12.1, 11.8, 11.5, 11.3, 11.2, 11.2, 11.3, 11.4, 11.3, 10.3, 10.2, 10.3, 10.4, 10.4, 10.5, 10.5, 10.4, 10.1, 9.9, 9.5, 9.3, 9.1, 8.9, 8.7, 8.5, 8.3, 8.2, 8.0, 7.9, 7.8, 7.7, 7.6, 7.6, 7.8, 8.1, 8.5, 9.2, 10.0, 10.5, 10.5, 10.0, 9.6, 9.1, 8.5, 8.0, 7.6, 7.2, 7.0, 7.1, 7.4, 7.7, 7.9, 8.1, 8.2, 8.4, 8.5, 8.6, 8.7, 8.7, 8.8, 8.8, 8.9, 8.9, 8.9, 9.0, 9.0, 9.1, 9.1, 9.1, 9.0, 8.9, 8.7, 8.4, 7.9, 7.5, 7.2, 7.0, 6.7, 6.5, 6.2, 6.2, 6.6, 7.2, 7.9, 8.8, 9.7, 10.2, 10.3, 10.0, 9.6, 9.0, 8.3, 7.7, 7.3, 6.9, 6.6, 6.3, 6.2]}}
dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'hourly_units', 'hourly'])

In [23]:
print(data["hourly"].keys())
time2temp = dict(zip(data['hourly']["time"], data['hourly']["temperature_2m"]))
time2temp

dict_keys(['time', 'temperature_2m'])

{'2024-02-13T00:00': 4.4,
 '2024-02-13T01:00': 4.3,
 '2024-02-13T02:00': 4.5,
 '2024-02-13T03:00': 4.5,
 '2024-02-13T04:00': 4.5,
 '2024-02-13T05:00': 4.4,
 '2024-02-13T06:00': 4.5,
 '2024-02-13T07:00': 4.1,
 '2024-02-13T08:00': 4.0,
 '2024-02-13T09:00': 5.5,
 '2024-02-13T10:00': 6.7,
 '2024-02-13T11:00': 7.9,
 '2024-02-13T12:00': 9.0,
 '2024-02-13T13:00': 8.9,
 '2024-02-13T14:00': 8.8,
 '2024-02-13T15:00': 9.4,
 '2024-02-13T16:00': 8.8,
 '2024-02-13T17:00': 8.2,
 '2024-02-13T18:00': 7.2,
 '2024-02-13T19:00': 7.2,
 '2024-02-13T20:00': 7.4,
 '2024-02-13T21:00': 7.5,
 '2024-02-13T22:00': 7.5,
 '2024-02-13T23:00': 8.0,
 '2024-02-14T00:00': 8.4,
 '2024-02-14T01:00': 8.6,
 '2024-02-14T02:00': 9.0,
 '2024-02-14T03:00': 9.3,
 '2024-02-14T04:00': 9.6,
 '2024-02-14T05:00': 10.0,
 '2024-02-14T06:00': 10.2,
 '2024-02-14T07:00': 10.3,
 '2024-02-14T08:00': 10.3,
 '2024-02-14T09:00': 10.6,
 '2024-02-14T10:00': 10.7,
 '2024-02-14T11:00': 10.7,
 '2024-02-14T12:00': 10.9,
 '2024-02-14T13:00': 11.2,
 '2024-02-14T14:00': 11.2,
 '2024-02-14T15:00': 11.2,
 '2024-02-14T16:00': 10.8,
 '2024-02-14T17:00': 10.5,
 '2024-02-14T18:00': 10.6,
 '2024-02-14T19:00': 10.7,
 '2024-02-14T20:00': 10.7,
 '2024-02-14T21:00': 10.7,
 '2024-02-14T22:00': 11.0,
 '2024-02-14T23:00': 11.1,
 '2024-02-15T00:00': 11.1,
 '2024-02-15T01:00': 10.8,
 '2024-02-15T02:00': 10.8,
 '2024-02-15T03:00': 11.0,
 '2024-02-15T04:00': 10.9,
 '2024-02-15T05:00': 11.1,
 '2024-02-15T06:00': 11.1,
 '2024-02-15T07:00': 11.1,
 '2024-02-15T08:00': 11.2,
 '2024-02-15T09:00': 11.6,
 '2024-02-15T10:00': 12.2,
 '2024-02-15T11:00': 12.9,
 '2024-02-15T12:00': 14.0,
 '2024-02-15T13:00': 14.6,
 '2024-02-15T14:00': 14.9,
 '2024-02-15T15:00': 15.0,
 '2024-02-15T16:00': 14.5,
 '2024-02-15T17:00': 13.6,
 '2024-02-15T18:00': 13.0,
 '2024-02-15T19:00': 12.9,
 '2024-02-15T20:00': 12.6,
 '2024-02-15T21:00': 12.3,
 '2024-02-15T22:00': 12.1,
 '2024-02-15T23:00': 11.8,
 '2024-02-16T00:00': 11.5,
 '2024-02-16T01:00': 11.3,
 '2024-02-16T02:00': 11.2,
 '2024-02-16T03:00': 11.2,
 '2024-02-16T04:00': 11.3,
 '2024-02-16T05:00': 11.4,
 '2024-02-16T06:00': 11.3,
 '2024-02-16T07:00': 10.3,
 '2024-02-16T08:00': 10.2,
 '2024-02-16T09:00': 10.3,
 '2024-02-16T10:00': 10.4,
 '2024-02-16T11:00': 10.4,
 '2024-02-16T12:00': 10.5,
 '2024-02-16T13:00': 10.5,
 '2024-02-16T14:00': 10.4,
 '2024-02-16T15:00': 10.1,
 '2024-02-16T16:00': 9.9,
 '2024-02-16T17:00': 9.5,
 '2024-02-16T18:00': 9.3,
 '2024-02-16T19:00': 9.1,
 '2024-02-16T20:00': 8.9,
 '2024-02-16T21:00': 8.7,
 '2024-02-16T22:00': 8.5,
 '2024-02-16T23:00': 8.3,
 '2024-02-17T00:00': 8.2,
 '2024-02-17T01:00': 8.0,
 '2024-02-17T02:00': 7.9,
 '2024-02-17T03:00': 7.8,
 '2024-02-17T04:00': 7.7,
 '2024-02-17T05:00': 7.6,
 '2024-02-17T06:00': 7.6,
 '2024-02-17T07:00': 7.8,
 '2024-02-17T08:00': 8.1,
 '2024-02-17T09:00': 8.5,
 '2024-02-17T10:00': 9.2,
 '2024-02-17T11:00': 10.0,
 '2024-02-17T12:00': 10.5,
 '2024-02-17T13:00': 10.5,
 '2024-02-17T14:00': 10.0,
 '2024-02-17T15:00': 9.6,
 '2024-02-17T16:00': 9.1,
 '2024-02-17T17:00': 8.5,
 '2024-02-17T18:00': 8.0,
 '2024-02-17T19:00': 7.6,
 '2024-02-17T20:00': 7.2,
 '2024-02-17T21:00': 7.0,
 '2024-02-17T22:00': 7.1,
 '2024-02-17T23:00': 7.4,
 '2024-02-18T00:00': 7.7,
 '2024-02-18T01:00': 7.9,
 '2024-02-18T02:00': 8.1,
 '2024-02-18T03:00': 8.2,
 '2024-02-18T04:00': 8.4,
 '2024-02-18T05:00': 8.5,
 '2024-02-18T06:00': 8.6,
 '2024-02-18T07:00': 8.7,
 '2024-02-18T08:00': 8.7,
 '2024-02-18T09:00': 8.8,
 '2024-02-18T10:00': 8.8,
 '2024-02-18T11:00': 8.9,
 '2024-02-18T12:00': 8.9,
 '2024-02-18T13:00': 8.9,
 '2024-02-18T14:00': 9.0,
 '2024-02-18T15:00': 9.0,
 '2024-02-18T16:00': 9.1,
 '2024-02-18T17:00': 9.1,
 '2024-02-18T18:00': 9.1,
 '2024-02-18T19:00': 9.0,
 '2024-02-18T20:00': 8.9,
 '2024-02-18T21:00': 8.7,
 '2024-02-18T22:00': 8.4,
 '2024-02-18T23:00': 7.9,
 '2024-02-19T00:00': 7.5,
 '2024-02-19T01:00': 7.2,
 '2024-02-19T02:00': 7.0,
 '2024-02-19T03:00': 6.7,
 '2024-02-19T04:00': 6.5,
 '2024-02-19T05:00': 6.2,
 '2024-02-19T06:00': 6.2,
 '2024-02-19T07:00': 6.6,
 '2024-02-19T08:00': 7.2,
 '2024-02-19T09:00': 7.9,
 '2024-02-19T10:00': 8.8,
 '2024-02-19T11:00': 9.7,
 '2024-02-19T12:00': 10.2,
 '2024-02-19T13:00': 10.3,
 '2024-02-19T14:00': 10.0,
 '2024-02-19T15:00': 9.6,
 '2024-02-19T16:00': 9.0,
 '2024-02-19T17:00': 8.3,
 '2024-02-19T18:00': 7.7,
 '2024-02-19T19:00': 7.3,
 '2024-02-19T20:00': 6.9,
 '2024-02-19T21:00': 6.6,
 '2024-02-19T22:00': 6.3,
 '2024-02-19T23:00': 6.2}