# Data Visualization

`Matplotlib` provides 2D basic, statistical, corrdinate and 3D plots. Seaborn is based on `Matplotlib` with more sophisticated plot methods.

# Outline
- Data preparation
-- Reshape: long and wide format
-- Join DataFrames: left/right/inner/outer

- Matplotlib basics
- Seaborn

In [4]:
import numpy as np
import pandas as pd
import seaborn as sb # sns
import matplotlib.pyplot as plt
from numpy.random import default_rng
rng = default_rng(1234)

In [5]:
fmh = pd.read_csv("./data/framingham.csv")
fmh.dtypes

RANDID        int64
SEX           int64
AGE           int64
SYSBP       float64
DIABP       float64
BPMEDS      float64
CURSMOKE      int64
EDUC        float64
BMI         float64
HEARTRTE    float64
ANGINA        int64
HOSPMI        int64
STROKE        int64
CVD           int64
HYPERTEN      int64
DEATH         int64
dtype: object

In [7]:
df = fmh[["RANDID", "ANGINA", "CVD", "DEATH"]].head(3)
df

   RANDID  ANGINA  CVD  DEATH
0    2448       0    1      0
1    9428       0    0      0
2   14367       0    0      0

In [8]:
df_long = pd.melt(frame=df, id_vars='RANDID', value_vars=["ANGINA", "CVD", "DEATH"], var_name='EVENT', value_name='VALUE')
df_long # inner merge: intersection; left merge: set A - set B

   RANDID   EVENT  VALUE
0    2448  ANGINA      0
1    9428  ANGINA      0
2   14367  ANGINA      0
3    2448     CVD      1
4    9428     CVD      0
5   14367     CVD      0
6    2448   DEATH      0
7    9428   DEATH      0
8   14367   DEATH      0

# change the figure size & dpi

fig.axes = plt.subplot(2, 2, dpi = 400, figsize = [10, 10]) # fig is the global information.

axes[0,0].set_title("line pictures")
fig.suptitle("multiple plots")# global capations

Long to wide: `pivot`

In [ ]:
df_wide = df_long.pivot(index = "RADNDID", columns = "EVENT", )